.Chat {
  height: 95vh;
  width: 95vw;
  border-radius: 10px;
  overflow: hidden;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  color: black;
}

.ChatArea {
  background-color: coral;
  display: flex;
  flex-grow: 1;
}

.MenuArea {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
}

.MenuHeadArea {
  background-color: deepskyblue;
  text-align: left;
}

.UsersList {
  flex-basis: 250px;
  background-color: #dfe4ea;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

.Body {
  background-color: cornsilk;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}

.HeadArea {
  background-color: #ff6f61;
  flex-basis: 60px;
  text-align: left;
  font-size: 1.5rem;
}

.MessagesArea {
  background-color: #92a8d1;
  flex-grow: 1;
  height: 1vh;
  position: relative;
  overflow-y: auto;
}

.FooterChat {
  background-color: #a4b0be;
  flex-basis: 60px;
}

.UsersList ul {
  list-style: none;
  padding: 0;
}

.UsersList li a {
  display: flex;
  list-style: none;
  padding: 0;
  flex: 1;
  padding: 5px;
  margin-bottom: 0px;

  text-decoration: none;
  color: blue;
}

.MessageReceived {
  background-color: white;
  text-align: left;
}

.MessageSended {
  background-color: aquamarine;
  text-align: right;
}
